/* Color de fondo */
body {
    background-color: #1f1f1f; /* un tono oscuro pero no completamente negro */
}

/* Colores de texto */
body, h1, h2, h3, h4, h5, h6 {
    color: #e0e0e0; /* un tono claro de gris para el texto */
}

/* Enlaces */
a {
    color: #a78be6; /* un tono de morado llamativo pero no demasiado brillante */
    text-decoration: none; /* sin subrayado */
}
a:hover {
    color: #d4a1ff; /* un tono más claro de morado para cuando se pasa el ratón sobre el enlace */
}

/* Botones */
button, input[type="button"], input[type="reset"], input[type="submit"] {
    background-color: #a78be6; /* un tono de morado para el fondo */
    color: #e0e0e0; /* un tono claro de gris para el texto */
    border: none; /* sin borde */
    border-radius: 3px; /* borde redondeado */
    padding: 8px 16px; /* espacio dentro del botón */
}
button:hover, input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:hover {
    background-color: #d4a1ff; /* un tono más claro de morado para cuando se pasa el ratón sobre el botón */
}

/* Barras de navegación */
nav {
    background-color: #1f1f1f; /* un tono oscuro para el fondo de la barra de navegación */
    border-bottom: 1px solid #a78be6; /* una línea de borde morado en la parte inferior */
}
nav a {
    color: #e0e0e0; /* un tono claro de gris para el texto de los enlaces en la barra de navegación */
}
nav a:hover {
    color: #d4a1ff; /* un tono más claro de morado para los enlaces de la barra de navegación cuando se pasa el ratón sobre ellos */
}

//* estilos de la tabla */
table {
    width: 100%; /* ancho al 100% */
    border-collapse: collapse; /* borde colapsado */
    font-family: Arial, sans-serif; /* tipo de letra */
    color: #e0e0e0; /* color del texto */
    background-color: #2b2b2b; /* color de fondo */
    border: 2px solid #a78be6; /* borde de la tabla */
    border-radius: 10px; /* borde redondeado */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* sombra */
    margin-bottom: 20px; /* margen inferior */
  }
  
  /* estilos de las celdas de encabezado */
  th {
    padding: 12px; /* espacio interno de las celdas */
    text-align: left; /* alineación del texto a la izquierda */
    background-color: #4c4c4c; /* color de fondo del encabezado */
    border-bottom: 2px solid #a78be6; /* borde inferior de las celdas de encabezado */
  }
  
  /* estilos de las celdas de datos */
  td {
    padding: 8px; /* espacio interno de las celdas */
    text-align: left; /* alineación del texto a la izquierda */
    border-bottom: 1px solid #4c4c4c; /* borde inferior de las celdas de datos */
  }
  
  /* estilos de las filas alternas */
  tr:nth-child(even) {
    background-color: #3c3c3c; /* color de fondo de las filas pares */
  }
  
  /* estilo del hover sobre las filas */
  tr:hover {
    background-color: #444444; /* color de fondo al pasar el mouse sobre la fila */
  }
  